Automated YouTube RAG Chatbot using n8n + AI.json
{
  "name": "Automated YouTube RAG Chatbot using n8n + AI",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/karamelo~youtube-transcripts/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"maxRetries\": 4,\n    \"proxyOptions\": {\n        \"useApifyProxy\": true\n    },\n    \"urls\": [\n        \"{{ $json['Youtube URL'] }}\"\n    ]\n} ",
        "options": {}
      },
      "id": "bed51fde-a464-4bb7-a9ca-1f7e30a0b3e2",
      "name": "Apify scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -480
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "zFad9JiQM13wxNlq",
          "name": "apify"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        -480
      ],
      "id": "9bbb527d-79bb-40ac-83c3-7ef09cd1ca52",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Initialize an array to hold the output\nconst output = [];\n\nfor (let item of $input.all()) {\n  // Get the captions array\n  let captions = item.json.captions;\n\n  // Join the captions into a single string\n  let rawText = captions.join(\" \");\n\n  // Step 1: Decode HTML entities (e.g., &#39; to ')\n  let decodedText = rawText\n    .replace(/&#39;/g, \"'\") // Specifically handle apostrophe HTML entity\n    .replace(/&quot;/g, '\"') // Handle double quotes\n    .replace(/&amp;/g, \"&\") // Handle ampersands\n    .replace(/&#\\d+;/g, match => { // Handle any other numeric entities\n      const code = parseInt(match.slice(2, -1));\n      return String.fromCharCode(code);\n    });\n\n  // Step 2: Normalize special characters and clean up\n  let normalizedText = decodedText\n    .replace(/[\\u2018\\u2019]/g, \"'\") // Replace curly single quotes with straight '\n    .replace(/[\\u201C\\u201D]/g, '\"') // Replace curly double quotes with straight \"\n    .replace(/[\\u2026]/g, \"...\") // Replace ellipsis with three dots\n    .replace(/[^\\w\\s.,!?'-]/g, \" \") // Remove other non-standard characters, keep basic punctuation\n    .replace(/\\s+/g, \" \") // Collapse multiple spaces into one\n    .trim();\n\n  // Step 3: Split into potential sentences based on common sentence-ending punctuation\n  let sentences = normalizedText\n    .split(/([.!?])\\s+/)\n    .filter(Boolean); // Split on .!? followed by space, keep delimiters\n\n  // Step 4: Reconstruct the text with proper capitalization and spacing\n  let cleanedText = \"\";\n  for (let i = 0; i < sentences.length; i++) {\n    let part = sentences[i].trim();\n    if (part) {\n      // Capitalize the first letter of each sentence\n      if (part.match(/^[a-z]/i)) {\n        part = part.charAt(0).toUpperCase() + part.slice(1);\n      }\n      cleanedText += part;\n      // Add a space after sentence-ending punctuation, unless it's the last part\n      if (part.match(/[.!?]$/) && i < sentences.length - 1) {\n        cleanedText += \" \";\n      }\n    }\n  }\n\n  // Ensure the text ends with a period if it doesn’t already end with punctuation\n  if (!cleanedText.match(/[.!?]$/)) {\n    cleanedText += \".\";\n  }\n\n  // Create the response object with just videoId and transcript\n  const response = {\n    json: {\n      \"videoId\": item.json.videoId,\n      \"transcript\": cleanedText\n    }\n  };\n\n  // Push the response to the output array\n  output.push(response);\n}\n\n// Return the array of items\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -480
      ],
      "id": "bbb1686f-2f9a-4463-a601-c5df049274c2",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=crate transcript below.\n\n{{ $json.transcript }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a helpful YouTube video transcription agent. Your task is to generate a complete and accurate transcript of a YouTube video from the provided audio or video content"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        208,
        -480
      ],
      "id": "48ecf432-192e-42e8-8533-7bdb5af6af32",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        -272
      ],
      "id": "a270a4c3-5ab9-4a27-b7fa-7b6162613179",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "AAoupAxOqc2Caa30",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aadc4d64-be11-450a-ad9d-e2e8cec3c304",
              "name": "videoId",
              "value": "={{ $('Code').item.json.videoId }}",
              "type": "string"
            },
            {
              "id": "66e59601-23d2-4a55-9874-69786547453f",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -480
      ],
      "id": "6ffb4d2d-c089-485f-bb53-82b6da038046",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f29911e-1ebe-41da-b649-3ae25a3aa888",
              "name": "Youtube URL",
              "value": "={{ $json.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        -480
      ],
      "id": "9e7417e1-2464-448b-b06c-f940689be1e6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -912,
        -176
      ],
      "id": "1f827052-3218-426d-8604-84c2860d34a8",
      "name": "Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pvZPZLUFtZfargwE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        288,
        -48
      ],
      "id": "19839f5a-5e15-4229-ad2d-0e75a65f0f85",
      "name": "When chat message received",
      "webhookId": "7325a90c-da5e-4d68-b3f2-b62197fbb9af"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        608,
        -48
      ],
      "id": "a7ddacb0-6708-4582-ac06-2b892e5cbed0",
      "name": "Question & Answer"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        128
      ],
      "id": "3a89d2ae-96ca-41c2-b32f-fa423fcb40e0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iZdN75vYZDZY6kf1",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        624,
        160
      ],
      "id": "b39c88ee-e617-4a5d-9fd5-3c05abec323a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.text }}",
        "name": "={{ $json.videoId }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Nt8Wu0VUj9vpHRlLgXtydoUoFuOwbDH_",
          "mode": "list",
          "cachedResultName": "RAG DOC",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Nt8Wu0VUj9vpHRlLgXtydoUoFuOwbDH_"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        -480
      ],
      "id": "e555c21d-f97a-44e8-849d-0e4e7bb961a4",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pvZPZLUFtZfargwE",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -560,
        -176
      ],
      "id": "f9db8fe4-303c-444c-8fda-09603d86312d",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "U4aVDZbT0dvuv3o2",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -384,
        64
      ],
      "id": "f697bd66-bad8-4e2f-9601-bd0f8b14e57f",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -864,
        256
      ],
      "id": "ea4c8b7c-1fbd-4969-9729-14d99a05ec7e",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "iZdN75vYZDZY6kf1",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrive answers for query chat input",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 2,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        784,
        256
      ],
      "id": "bfacafac-80af-41c1-8f0b-570ec20acaf1",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "U4aVDZbT0dvuv3o2",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 512,
        "width": 2096,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        -576
      ],
      "typeVersion": 1,
      "id": "23789bfe-5b93-4aae-98a6-517e809bf795",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 464,
        "width": 816,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        -64
      ],
      "typeVersion": 1,
      "id": "608df394-dded-47cf-96de-8f78a0c16956",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 464,
        "width": 1280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -64
      ],
      "typeVersion": 1,
      "id": "e6c4b583-ae7e-4a12-b617-d43c447cfd57",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "https://youtu.be/4BfO_D3Ne1s?si=aj3h53RFjazSIdbe"
        }
      }
    ]
  },
  "connections": {
    "Apify scrape": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Apify scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Question & Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question & Answer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Question & Answer",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Question & Answer": {
      "main": [
        []
      ]
    },
    "Create file from text": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "Question & Answer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a7e025ce-84b2-4307-b7a7-8e1d29b65df6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "45894b37f1d766687eb41e905a1ede6c1600e57f0ac4faa90c2f341924bdcb9d"
  },
  "id": "fK1udniqjly8123r",
  "tags": []
}